
@media





body{
    background-color: lightseagreen;
}
.input_4 div a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px ;
    border-top: solid rgb(124, 218, 235);
    border-left: solid rgb(228, 228, 124);
    border-right: solid rgb(66, 55, 214);
    border-bottom: solid tomato;
    border-radius: 100px;
    padding: 8px;
    font-size: 16px;
    color:  rgb(14, 46, 39);
    
}
.rew{
     display: inline;
}
input{
    width: 300px;
}
.adf{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
a:hover{
    text-decoration: yellowgreen;
}
a{
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.as{
    display: inline-block;
}
button{
    border-radius: 50px;
    border-top: limegreen;
    border-right: pink;
    border-bottom: blue;
}
.req{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    word-spacing: 6px;
    align-items:flex-end;
    height:50px;
    padding: 10px;
}
.fg{
    display: inline-block;
}
.tyu{
    border: 1px solid lightgray;
}
.reo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.uik{
    padding: 25px;
    border-width: 10px;
    height: 220px;
    width: 320px;
    margin: 10px;

}
.promain{
    margin: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.ghu{
    padding: 40px;
}
.rty{
    border: 3px solid gray;
    background-color: blue;
    color: white;
    height: 200px;
    width: 320px;
    margin: 10px;
    text-align: center;
}
.io{
    border: 2px solid white;
}
.io:hover{
    background-color: darkblue;
    border-radius: 10px;
    color: white;
}
.qw{
    border: 2px solid black;
    color: black;
    background-color: white;
    padding: 3px;
}
.qw:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    border: 4px solid black;
}
.jk{
    text-align: center;
}
.rgn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fds{
    border: 2px solid gray;
    width: 225px;
    height: 225px;
    padding: 9px;
}
.th{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hjk{
    width: 25%;
}
.tfz{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
ul li{
    list-style-type: none;
    text-transform: capitalize;
    color: blue;
    text-align: center;
}
.yhn{
    width: 100%;
    height: 70px;
    background-color: darkslategrey;
    color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
#main_header{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    height:50px;
    background-color: #F7F8F9;
}
.tmn{
    border:2px solid black;
    height:26px;
    width: 250px;
}
.tbz{
    border:2px solid black;
    height:26px;
    width: 450px;
}
.hza{
    display: flex;
    flex:2;
    align-content:flex-end;
    text-align: center;
    justify-content: center;
}
.bza{
    margin-left: 6px;
    text-align: center;
    width: 100px;
}
body{
    margin: 0;
    padding: 0;
}
.body_nav{
    background-color:rgb(250, 250, 250);
    
}

.nav{
    display: flex;
    justify-content:space-around;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    

}
.bar{
    margin-top: 15px;
} 
.logo{
    padding-top: 10px;
    
}

/* Nav inputs */
.input_1{
    width: 30%;
    margin-top: 9px;
    height: 10px;
}
.input_2{
    width: 40%;
    margin-top: 9px;
}
.hidden{
    display: none;
}
.input_3{
    margin-top: 16px;
    
}
    .input_3 a{
        color: rgb(14, 46, 39);
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
.input_4{
    margin-top: 20px;
}
    .input_4 div a{
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        border: 10px ;
        border-top: solid rgb(124, 218, 235);
        border-left: solid rgb(228, 228, 124);
        border-right: solid rgb(66, 55, 214);
        border-bottom: solid tomato;
        border-radius: 100px;
        padding: 8px;
        font-size: 16px;
        color:  rgb(14, 46, 39);
        
    }
.result_2{
    width: 100%;
    height:40px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    border: 2px solid rgb(14, 46, 39);
}
.result_1{
    width: 100%;
    height:40px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    border: 2px solid rgb(14, 46, 39);
}